body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

h1 {
  color: #7bbcfd;
  border-bottom: 5px solid #7bbcfd;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: #df8b8b;
}
#intro {
  font-style: italic;
  color: #b08383;
}
.note {
  font-style: italic;
  color: rgb(0, 0, 0);
}
.box, p {
  display: inline-block;
  width: 200px;
  height: 100px;
  vertical-align: top; 
  box-sizing: border-box;
}